#body-box{
    background-color: white;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#head-stripe{
    position: fixed;
    background-color: #80bdff;
    padding-bottom: 10px;
}

#foot-stripe{
    /* position: fixed; */
    background-color: #80bdff;
    text-align: center;
    padding: 3px;
}

.m-logo{
    padding: 2px;
    width: 25px;
    height: 25px;
}

#head-panel{
    padding-top: 10px;
    text-align: left;
}

#name-box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
}

#cont-box{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5%;
    text-align: left;
}

#pic-box{
    /* border: 5px dashed #f7a239; */
    padding: 20px;
    text-align: center;    
}

#profile-pic{
    border: 1px solid #80bfff;
    /* border-color:#80bdff; */
    border-radius: 50%;
    float:left;
    margin-left: 20%;
    width: 150px;
    height: 150px;
}

hr{
    border-width:2px;
    height: 2px;
    background-color:#80bdff;
}

.proj-split{
    height: 0.1px;
    background-color: gray;
}

#proj-split-main{
    border-width:2px;
    height: 2px;
    background-color:gray;
}


#titletag {
    text-align: right;
}

#subtitletag{
    text-align: right;
    color: gray;;
}

.adjust-vals1{
    padding-left: 25px;
}

.certlogo{
    padding: 8px;
    width:90px;
    height:90px;
}

@media screen and (max-width: 1000px) {
    #titletag, #subtitletag{
        text-align: left;
    }
    #pic-box{
       /* border: 5px dashed #f7a239; */
       padding: 20px;
       text-align: left;    
   }
   
   #profile-pic{
       border: 1px solid #80bfff;
       /* border-color:#80bdff; */
       border-radius: 50%;
       float:left;
       margin-left: 1%;
       width: 120px;
       height: 120px;
   }
   #name-box{
       text-align: center;
       margin-top: -50px;
   }
 }
 

